<html>
<head>
  <meta http-equiv="refresh" content="0;url=/en/" />
  <meta name="robots" content="noindex" />
  <link rel="canonical" href="/en/" />
  <title>Redirecting...</title>
  <script>window.location.replace("/en/")</script>
</head>
</html>
